body {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

header {
    margin-top: 50px;
    text-align: center;
    font-family: 'Linux Libertine','Hoefler Text',Georgia,'Times New Roman',Times,serif;
}

header img {
    margin: auto;
    display: block;
    width: 175px;
}

header span {
    font-size: 14px;
}

main {
    text-align: center;
    margin-top: 20px;
}

.logo-languages {
    display: inline-grid;
    grid-template-areas: "lang1 empty-top lang2"
                         "lang3 logo lang4"
                         "lang5 logo lang6"
                         "lang7 logo lang8"
                        "lang9 empty-bottom lang10";
    grid-template-rows: repeat(5, 60px);
    grid-template-columns: 200px 245px 200px;
 
}

.logo-languages span {
    font-size: 12px;

}

.logo-languages div a {
    display: block;
    font-weight: 700;
    text-decoration: none;
    color: #36c;
}

.logo-languages div a:hover {
    text-decoration: underline;
}

.empty-top{
    grid-area: empty-top;
}

.empty-bottom{
    grid-area: empty-bottom;
}

.logo{
    grid-area: logo;
    place-self: center;
}

.logo img{
    width: 100px;
    width: 200px;
}


.lang1{
    grid-area: lang1;
    place-self: center;
    justify-self: end;
}

.lang2{
    grid-area: lang2;
    place-self: center;
    justify-self: start;
}

.lang3{
    grid-area: lang3;
    place-self: center;
}

.lang4{
    grid-area: lang4;
    place-self: center;
}

.lang5{
    grid-area: lang5;
    place-self: center;
}

.lang6{
    grid-area: lang6;
    place-self: center;
}

.lang7{
    grid-area: lang7;
    place-self: center;
}

.lang8{
    grid-area: lang8;
    place-self: center;
}

.lang9{
    grid-area: lang9;
    place-self: center;
    justify-self: end;
}

.lang10{
    grid-area: lang10;
    place-self: center;
    justify-self: start;
}

.search {
    margin-top: 20px;
}

.search-container {
    display: flex;
    border: 1px solid #a2a9b1;
    width: 440px;
    height: 43px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.search-container:hover {
    border: 1px solid #72777d;
}

.search-container:focus-within {
    border: 2px solid #36c;
}

.search-container input {
    height: 25px;
    width: 350px;
    border: none;
    margin-left: 10px;
}

.search-container button {
    height: 43px;
    background-color: #36c;
    border: none;
}

.search-icon{
    height: 30px;
    width: 30px;
}

.search-container select{
    margin-right: 10px;
    border: none;
    background-image: none;
}

.lang-selector{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang-selector-container{
    display: inline-flex;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    background-color: #f8f9fa;
    color: #36c;
    padding: 5px;
    align-items: center;
    font-size: 14px;
}

.translate-icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.arrow-down-icon{
    height: 20px;
    width: 20px; 
    margin-left: 5px;
}

.border{
    display: inline;
    background-color: #c8ccd1;
    height: 1px;
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
}

.default-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/245px-Wikipedia-logo-v2.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
}

footer{
    display: flex;
    border-top: 1px solid #c8ccd1;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.footer-left{
    margin-top: 20px;
    font-size: 14px;
    color: #54595d;
    display: grid;
    justify-content: center;
}

.server-info-container{
    display: flex;
    margin-bottom: 40px;
}

.server-info-container p{
    margin: 0px;
    margin-left: 10px;
}

.download-info-container {
    background-color: #f8f9fa;
    border-radius: 2px;
}

.download-info-header-container {
    display: flex;
    align-items: center;
}

.download-info-header-container span {
    font-weight: 700;
    margin-left: 10px;
}

.download-icon-google{
    width: 100px;
    margin-right: 5px;
}

.download-icon-apple{
    width: 115px;
    margin-left: 5px;
}

.download-icon-container{
    display: flex;
    justify-content: center;
}

.footer-right ul{
    display: grid;
    column-gap: 100px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    list-style: none;
}

.footer-right ul li{
    display: flex;
    align-items: center;
}

.footer-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.link-container{
    margin-left: 10px;  
}

.link-container a{
    color: #36c; 
    display: block; 
    text-decoration: none;
    color: #36c;
    font-size: 15px;
}

.link-container span{
    font-size: 12px;
}

.server-info-container{
    width: 300px;
}

.download-info-container{
    width: 300px;
}

@media only screen and (max-width : 480px) {
    .logo{
        display: none;
    }

    .empty-top{
        display: none;
    }

    .empty-bottom{
        display: none;
    }

    .logo-languages{
        display: inline-grid;
        width: 100%;
        grid-template-areas: initial;
        grid-template-rows: initial;
        grid-template-columns: 33% 33% 33%;
        flex-wrap: wrap;
    }

    .logo-languages div{
        padding: 12px;
        grid-area: auto;
        place-self: initial;
        justify-self: initial;
    }

    .search-container {
        width: 100%;
    }

    .footer-left{
        width: 100%;
    }

    .footer-right{
        width: 100%;
    }

    .footer-right ul{
        display: grid;
        column-gap: auto;
        grid-template-columns: initial;
        justify-content: initial;
        padding: 0px;
    }

    .footer-right ul li{
        justify-content: center;
        margin-top: 15px;
    }
    
}


@media only screen and (min-width : 480px) and (max-width : 1262px) {
    .footer-left{
        width: 100%;
    }

    .footer-right{
        width: 100%;
    }

    .footer-right ul{
        padding: 0px;
    }
}
